body {
    background-color: #005616;
}
.container-section {
	width: 860px;
	height: 460px;
}
.side-section {
    width: 175px;
    height: 441px;
}
.main-section {
    width: 605px;
    height: 441px;
}
.nav-section {
    height: 73px;
    width: 540px;
}
.nav-links-section {
    display: inline;
    float: right;
    margin-top: 1rem;
}
.content {
    height: 280px;
    margin-left: 60px;
    margin-right: 100px;
    color: white;
    overflow: auto !important;
}
.content h3 {
    font-size: large;
    padding-bottom: 20px;
    text-align: center;
}
.content p {
}
.nav_link {
    color: black;
    font-size: medium;
    /* float: right; */
    margin-right: 20px;
    padding-top: 10px;
    color: white;
}
.page_list {
    font-size: smaller;
    color: #6600CC;
}
.list_title {
    font-size: medium;
}
.page_list a {
    color: #6600CC;
}
.group_link {
    font-size: smaller;
    color: #6600CC;
    margin-left: 5px;
}
.left_image {
    line-height: 0 !important;
}
a.sr-only {
    padding: .1rem;
    font-size: 12px;
    background: white;
    color: black;
    position: absolute;
    top: -2.5rem;
    left: 0;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
    text-decoration: none;
}

a.sr-only:focus {
    position: absolute;
    left: 0;
    top: 0;
    outline-color: transparent;
    -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
    border: #ffbf47 solid .2rem;
    background: #ffbf47;
    color: #000;
    font-weight: 400;
}