<div class="left_image side-section">
    <a href="index.html"><img class="left_image" src="images/intro_side/left_01.gif" alt=""></a>
    <a href="01_introductory.html"><img class="left_image" src="images/intro_side/left_02.gif" alt=""></a>
    <a href="01_music.html"><img class="left_image" src="images/intro_side/left-music_01-left-music_02.gif" alt=""></a>
    <a href="#"><img class="left_image" src="images/intro_side/left-music_02-left-music_03.gif" alt=""></a>
    <a href="#"><img class="left_image" src="images/intro_side/left-music_03-left-music_04.gif" alt=""></a>
    <a href="#"><img class="left_image" src="images/intro_side/left-music_04.gif" alt=""></a>
    <a href="01_dance.html"><img class="left_image" src="images/intro_side/left-music_05-left-music_04.gif" alt=""></a>
    <a href="#"><img class="left_image" src="images/intro_side/left_04.gif" alt=""></a>
    <a href="#"><img class="left_image" src="images/intro_side/left_06.gif" alt=""></a>
    <!-- <img class="left_image" src="images/intro_side/left_07.gif" alt=""> -->
    <!-- <img class="left_image" src="images/intro_side/left_08.gif" alt=""> -->
</div>