<style>
    .display-none {
        display: none;
    }
</style>
<div class="left_image side-section" id="side_panel">
    <a href="index.html"><img class="left_image" src="images/intro_side/left_01.gif" alt="回首頁"></a>
    <a href="01_introductory.html"><img class="left_image" src="images/intro_side/left_02.gif" alt="入門篇"></a>

    <a class="display-none sub-default" href="01_music.html"><img class="left_image" src="images/intro_side/left-music_01-left-music_02.gif" alt="原住民的音樂"></a>
    <a class="display-none sub-default" href="01_dance.html"><img class="left_image" src="images/intro_side/left-music_05-left-music_04.gif" alt="原住民的舞蹈"></a>

    <a class="display-none sub-01" href="01_music.html"><img class="left_image" src="images/intro_side/left-music_01-left-music_02.gif" alt="原住民的音樂"></a>
    <a class="display-none sub-01" href="01_music_life.html"><img class="left_image" src="images/intro_side/left-music_02-left-music_03.gif" alt="部落之歌"></a>
    <a class="display-none sub-01" href="01_music_class.html"><img class="left_image" src="images/intro_side/left-music_03-left-music_04.gif" alt="音樂教室"></a>
    <a class="display-none sub-01" href="01_music_meseum.html"><img class="left_image" src="images/intro_side/left-music_04.gif" alt="樂器家族"></a>
    <a class="display-none sub-01" href="01_dance.html"><img class="left_image" src="images/intro_side/left-music_05-left-music_04.gif" alt="原住民的舞蹈"></a>

    <a class="display-none sub-02" href="01_music.html"><img class="left_image" src="images/intro_side/left-music_01-left-music_02.gif" alt="原住民的音樂"></a>
    <a class="display-none sub-02" href="01_dance.html"><img class="left_image" src="images/intro_side/left_04.gif" alt="原住民的舞蹈"></a>
    <a class="display-none sub-02" href="01_dance _main01.html"><img class="display-none sub-02" src="images/intro_side/left_05.gif" alt="內涵"></a>
    <a class="display-none sub-02" href="01_dance _main02.html"><img class="display-none sub-02" src="images/intro_side/left_06.gif" alt="特色"></a>
    
    <a href="02_explore.html"><img class="left_image" src="images/intro_side/explore.gif" alt="探索篇"></a>
    <!-- <a href="#"><img class="left_image" src="images/intro_side/left_06.gif" alt=""></a> -->
    <!-- <img class="left_image" src="images/intro_side/left_07.gif" alt=""> -->
    <!-- <img class="left_image" src="images/intro_side/left_08.gif" alt=""> -->
    <script>
        console.log(thisSide)
        if (thisSide === 'side_01'){
            let elements = document.querySelectorAll('.sub-01');
            elements.forEach(function(element) {
                element.classList.remove('display-none');
            });
        }
        if (thisSide === 'side_02'){
            let elements = document.querySelectorAll('.sub-02');
            elements.forEach(function(element) {
                element.classList.remove('display-none');
            });
        }
        if (thisSide === 'side_default'){
            let elements = document.querySelectorAll('.sub-default');
            elements.forEach(function(element) {
                element.classList.remove('display-none');
            });
        }
    </script>
</div>